<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
  
   <header>
     <% include partials/navbar %>
   </header>

    <div class="container-fluid">
      <div class="starter-template">
				<h1><%= title %></h1>
				<p>Welcome to <%= title %></p>
        <h3> About this site </h3>
				<p> Limitless Garden is an data backend for IOT devices, with generic storage and retrieval API,
				but also some specialized API's for monitoring plants at home or in the garden. It is described 
				in a <a href="http://blog.abarbanell.de/raspberry/2015/12/30/monitoring-iot-backend">
				blog post </a> and in the sources at <a href="https://github.com/abarbanell/limitless-garden"> 
				github/abarbanell/limitless-garden</a>.
				</p>

				<h2>Contacts</h2>
         <p> Contact see <a href="https://github.com/abarbanell">my github profile</a>.</p>
      </div>
      
      <div class="row">
      <!-- footer-responsive -->
	<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7050521248314797"
			 data-ad-slot="7800919864"
			 data-ad-format="auto">
	</ins>
  </div>
  

    </div><!-- /.container -->

		<% include partials/footer %>

  </body>
</html>
