<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
  
   <header>
     <% include partials/navbar %>
   </header>

    <div class="container-fluid">
      <div class="starter-template">
				<h1><%= title %></h1>
        <p> Below we have a playing field for some sensor graphs </p>
      </div>
      
      <div class="row">
      <!-- footer-responsive -->
	<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7050521248314797"
			 data-ad-slot="7800919864"
			 data-ad-format="auto">
	</ins>
  </div>
  

    </div><!-- /.container -->

		<% include partials/footer %>

  </body>
</html>
