<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
  
  <header>
    <% include partials/navbar %>
  </header>

  <div class="container-fluid">
      <div class="lgerror">
				<h1>Error in <%= title %></h1>		
        <h2><%= error.status %>: <%= message %></h2>
        <pre class="lgerror-trace"><%= error.stack %></pre>
      </div>
  </div> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
  </body>
</html>