<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
  
  <header>
<% include partials/navbar %>
</header>

    <a href="/auth/google">Login with Google</a>
  </body>
</html>

