<div *ngIf="isLoggedin" class="panel panel-default">
        <div class="panel-heading">
                {{title}} - Collection: 
                {{ data.name }} 
                [ showing max {{ data.limit }} from position {{ data.offset }} of total {{ data.count }} rows]
        </div>
        <div class="panel-body">
                <div class="row">
                <button type="button" class="btn btn-info" (click)="onPrevPage()" [disabled]="data.offset==0">
                        Prev
                </button>
                <button type="button" class="btn btn-info" (click)="onNextPage()" [disabled]="(data.offset + data.limit) >= data.count">
                        Next
                </button>
        </div>
                <div class="row">
                        <div class="col-md-12 ">
                                <table class="table table-striped ">
                                        <thead>
                                                <tr>
                                                        <td>
                                                                ID
                                                        </td>
                                                        <td>
                                                                Date [UTC]
                                                        </td>
                                                        <td>
                                                                JSON data
                                                                 
                                                        </td>
                                                </tr>
                                        </thead>

                                        <tbody *ngIf="data">
                                                <tr *ngFor="let row of data.rows">
                                                        <td>
                                                                {{ row.id }}
                                                        </td>
                                                        <td>
                                                                {{ row.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}
                                                        <td>
                                                                <pre>{{ row | json }}</pre>
                                                        </td>
                                                        <td>
                                                                <button type="button" class="btn btn-warning" (click)="onDelete(row.id)" [disabled]="isDeleting==row.id">
                                                                        Delete
                                                                </button>
                                                        </td>
                                                </tr>

                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</div>

<div *ngIf="!isLoggedin" class="panel panel-danger">
        <div class="panel-heading">
                {{title}}
        </div>
        <div class="panel-body">
                You are not logged in
        </div>
</div>