
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse { 
  color: black;
	background-color: #6CD886;
	border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav>li {
  color: darkred;
}

.navbar-brand { 
	padding-top: 0px;
}

.lgerror {
  color: red;
  text-align: center;
}

.lgerror-trace {
  color: #000;
  text-align: left;
}

.navbar-toggle .icon-bar {
	background-color: black;
}

h1 {
  color: #369;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 250%;
}

.btn-selected { 
  background-color: #d5ffd5;
  color: #337ab7;
}

.adblock {
  height: 100px;
}

.spinner-blue {
  color: #337ab7;
}

.panel  { 
  margin-top: 15px; 
}
