
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 60px;
}

h1 {
  color: #369;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 250%;
}

.btn-selected { 
  background-color: #d5ffd5;
  color: #337ab7;
}

.adblock {
  height: 100px;
}

.spinner-blue {
  color: #337ab7;
}